@import "~styles/variables.scss";

.container {
    &:global(.ant-checkbox-wrapper) {
        font-size: 13px;
        color: $paletteText1;
    
        :global(.ant-checkbox-checked .ant-checkbox-inner),
        :global(.ant-checkbox-indeterminate .ant-checkbox-inner) {
            background-color: $palettePrimary0;
            border-color: $palettePrimary0;
        }
    
        :global(.ant-checkbox:hover .ant-checkbox-inner),
        :global(.ant-checkbox-input:focus + .ant-checkbox-inner) {
            border-color: $palettePrimary0;
        }
    
        &:hover {
            :global(.ant-checkbox-inner) {
                border-color: $palettePrimary0;
            }
        }
    }
}
