@import "~styles/variables.scss";

.container {
    &:global(.ant-input-number) {
        color: $paletteText1;
        padding: 0;
        font-size: 13px;
        height: 35px !important;
        border: 1px solid $paletteBorder0;
        width: 100%;
        max-width: 80px;

        :global(.ant-input-number-input) {
            height: 33px;
            color: $paletteText1;
            padding: 0 10px;
            text-align: left;
        }
  
        :global(.ant-input-number-focused) {
            border-color: $palettePrimary0;
        }
  
        :global(.ant-input-number-handler-wrap) {
            right: 0;
            border-radius: 0 4px 4px 0;
            border-left: 1px solid $paletteBorder1;
        }
  
        :global(.ant-input-number-handler-up-inner),
        :global(.ant-input-number-handler-down-inner) {
            font-size: 23px;
            color: $paletteText2;
    
            &:before {
                display: block;
                font-family: 'ionicons' !important;
            }
        }
  
        :global(.ant-input-number-handler-up-inner) {
            &:before {
                content: '\f365';
            }
        }
    
        :global(.ant-input-number-handler-down-inner) {
            &:before {
               content: '\f35f';
            }
        }
    }
}
    