@import "~styles/variables.scss";

.container {
    width: 900px;
    margin: 40px auto 0;
    :global(.ant-form-item) {
        display: flex;
    }
    :global(.ant-form-item-label) {
        text-align: left;
        width: 10% !important;
        margin-right: 20px !important;
    }
    :global(.ant-form-item-control-wrapper) {
        width: 90% !important;
    }
    &:not(:global(.ant-form-item-label)) {
        :global(.ant-form-item-control-wrapper) {
            width: 100% !important;
        }
    }
}
.toolbar {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    margin-bottom: 26px;
    .actions {
        display: flex;
        justify-content: flex-start;
        & > * {
            margin-right: 10px;
        }
        &:not(:first-child) {
            margin-left: 20px;
        }
        button {
            font-size: 16px;
        }
    }
}
.content-wrapper {
    display: flex;
    flex-flow: row wrap;
    overflow: hidden;
}

.content {
    padding: 35px;
    background-color: #ffffff;
    border: 1px solid $paletteBorder0;
    height: 100%;
    margin-bottom: 20px;
    h2 {
        margin-bottom: 20px;
    }
}

