@import "~styles/variables.scss";


.container {
    width: 100%;
    min-height: 100vh;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  
    &:before {
        content: '';
        width: 100%;
        height: 100%;
        display: flex;
        background-color: rgba(0, 0, 0, 0.6);
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        right: inherit;
    }
}

.content-wrapper {
    width: 500px;
    height: 100%;
    overflow-y: auto;
    z-index: 10;
    position: relative;
}

.content {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    padding: 70px 50px;
    position: relative;
    background-color: #ffffff;

    @media only screen and (max-width: 767px) {
        width: 100%;
        padding: 70px 20px;
    }

    .logo-wrapper {
        width: 100%;
        display: flex;
        margin-bottom: 50px;
        justify-content: center;
        flex-shrink: 0;

        a {
            font-size: 24px;
            font-weight: 300;
            line-height: 1;
            text-transform: uppercase;
            color: $paletteSecondary2;
        }
    }
}