@import "~styles/variables.scss";

.container {
    height: 69px;
    background: rgba(0, 0, 0, 0.3);
    background-color: $paletteGrayscale11;
    margin: 0;
    padding: 0 10px;
    text-align: center;
    overflow: hidden;
    @include borderRadius();
    
    a {
        font-size: 21px;
        font-weight: 300;
        line-height: 70px;
        letter-spacing: 3px;
        text-transform: uppercase;
        color: $paletteText0;
        display: block;
        text-decoration: none;
        
        & > div:not(.collapsed) {
            height: 100%;
            display: table-cell;
            vertical-align: middle;
        }
    }
    img {
        width: 50px;
        height: auto;
    }
}

:global(.ant-layout-sider-collapsed) {
    .container {
        padding: 0;
        h3 {
            a {
                font-size: 27px;
                font-weight: 500;
                letter-spacing: 0;
            }
        }
    }
}
