.container {
    width: 100%;

    :global(.ant-list-item-meta) {
        margin: 14px 0 auto;
    }
}

.timeset {
    .timeset-item {
        :global(.ant-time-picker) {
            padding: 0 5px;
        }
        :global(.ant-divider-horizontal) {
            margin: 10px 0;
        }
    }
}
.actions {
    height: initial;
    display: initial;
    margin-left: 10px;
    button {
        height: 32px !important;
        margin: 0 !important;
    }
}