
@import "~styles/variables.scss";

.container {
	.sidebar {
		z-index: 1000;
		background: $paletteSecondary11;
		width: 280px;
		flex: 0 0 280px;

		@media only screen and (max-width: 767px) {
			width: 240px !important;
			flex: 0 0 240px !important;
		}

		&:global(.ant-layout-sider-collapsed) {
			@media only screen and (max-width: 767px) {
			  	width: 0;
			  	min-width: 0 !important;
			  	max-width: 0 !important;
			  	flex: 0 0 0 !important;
			}
		}

		.header {
			text-align: center;
			padding: 10px;
			h3 {
				color: $paletteSecondary1;
			}
		}
		.menu-group {
			position: absolute;
			width: 100%;
		}
		.menu {
			padding-top: 25px;
			padding-bottom: 35px;
			background: transparent;

			a {
			  	text-decoration: none;
			  	font-weight: 400;
			}
			i {
				font-size: 19px;
				color: inherit;
				margin: 0 10px 0 0;
				width: 18px;
				@include transition();
			}

			.menu-holder {
				display: flex;
				align-items: center;
		  	}

			.menu-icon {
				font-size: 18px !important;
			}

			:global(.ant-menu-item) {
			  	width: 100%;
			  	display: -ms-flexbox;
			  	display: flex;
			  	-ms-flex-align: center;
			  	align-items: center;
			  	padding: 0 24px;
			}
			:global(.ant-menu-submenu-title) {
				&:after {
					display: none;
				}
			}
			:global(.anticon) {
				font-size: 18px;
				margin-right: 30px;
				color: inherit;
				@include transition();
		  	}
			:global(.nav-text) {
			  	font-size: 16px;
			  	color: inherit;
			  	font-weight: 400;
			  	@include transition();
			}
			:global(.ant-menu-item-selected) {
			  	background-color: rgba(0, 0, 0, 0.4) !important;
			  	:global(.anticon) {
					color: #fff;
			  	}
				:global(.nav-text) {
					color: #fff;
				}
			  	i {
					color: #fff;
			  	}
			}
			& > li {
                & > a {
                    width: 100%;
                }
                &:hover {
                    i, :global(.nav-text) {
                        color: #ffffff;
                    }
                    .submenu-arrow {
                        display: inline-block !important;
                    }
                }
                .submenu-arrow {
                    display: none;
                    margin-left: auto;
                    margin-right: 0;
                }
			}
		}
		:global(.ant-menu-dark .ant-menu-inline.ant-menu-sub) {
			background: $paletteSecondary5;
		}
		:global(.ant-menu-submenu-inline),
		:global(.ant-menu-submenu-vertical) {
			& > :global(.ant-menu-submenu-title) {
				width: 100%;
				display: flex;
				align-items: center;
				padding: 0 24px;
				> span {
					display: flex;
					align-items: center;
				}
				&:after {
					content: '\f123';
					font-family: 'Ionicons' !important;
					font-size: 16px;
					color: inherit;
					left: auto;
					right:auto;
					@include transition();
				}

				&:hover {
					&:after {
						color: #ffffff;
					}
				}
			}
			:global(.ant-menu-inline),
			:global(.ant-menu-submenu-vertical) {
			  	& > li:not(:global(.ant-menu-item-group)) {
					padding-left: 74px !important;
					padding-right: 0px !important;
					font-size: 13px;
					font-weight: 400;
					color: inherit;
					@include transition();

					&:hover {
						color: #ffffff;
					}
				}
			}
			:global(.ant-menu-item-group) {
				padding-left: 0;

				:global(.ant-menu-item-group-title) {
				  padding-left: 100px !important;
				}
				:global(.ant-menu-item-group-list) {
				  	:global(.ant-menu-item) {
						padding-left: 125px !important;
				  	}
				}
			}
		}
		:global(.ant-menu-sub) {
			background-color: transparent !important;
		}
	}
	&:global(.ant-layout-sider-collapsed) {
		:global(.nav-text) {
			display: none;
		}
		:global(.ant-menu-submenu-inline) >  {
			:global(.ant-menu-submenu-title:after) {
				display: none;
			}
		}
		:global(.ant-menu-submenu-vertical) {
			& > :global(.ant-menu-submenu-title):after {
				display: none;
			}
			:global(.ant-menu-sub) {
				background-color: transparent !important;
				:global(.ant-menu-item) {
				  	height: 35px;
				}
			}
		}
    }

    .level-selector {
        width: 100%;
        padding: 10px 10px 0;
        & * {
            color: #fff;
        }
        & > a {
            display: inherit;
            text-align: center;
        }
    }
    .toggle {
        font-size: 24px !important;
        transform: rotate(-90deg);
        color: $paletteGrayscale11;
        cursor: pointer;
        position: absolute;
        bottom: 25px;
        left: 20px;
        &.collapsed {
            font-size: 24px !important;
            transform: rotate(90deg) !important;
        }
    }
}

:global(.slide-enter) {
    opacity: 0;
    transform:   translate(-250px,0);
    transform: translate3d(-250px,0,0);
}
:global(.slide-enter.slide-enter-active) {
	opacity: 1;
	transition: opacity 1s ease;
	transform:   translate(0,0);
	transform: translate3d(0,0,0);
	transition-property: transform, opacity;
	transition-duration: 350ms;
	transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear;
}
:global(.slide-leave) {
	opacity: 1;
	transform:   translate(0,0,0);
	transform: translate3d(0,0,0);
  transition-property: transform, opacity;
	transition-duration: 350ms;
	transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear;
}
:global(.slide-leave.slide-leave-active) {
	opacity: 0;
	transform:   translate(250px,0);
	transform: translate3d(250px,0,0);
}


:global(.slide-rev-enter) {
    opacity: 0;
    transform:   translate(250px,0);
    transform: translate3d(250px,0,0);
}
:global(.slide-rev-enter.slide-rev-enter-active) {
	opacity: 1;
	transition: opacity 1s ease;
	transform:   translate(0,0);
	transform: translate3d(0,0,0);
	transition-property: transform, opacity;
	transition-duration: 350ms;
	transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear;
}
:global(.slide-rev-leave) {
	opacity: 1;
	transform:   translate(0,0,0);
	transform: translate3d(0,0,0);
  transition-property: transform, opacity;
	transition-duration: 350ms;
	transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear;
}
:global(.slide-rev-leave.slide-rev-leave-active) {
	opacity: 0;
	transform:   translate(-250px,0);
	transform: translate3d(-250px,0,0);
}