@import "~styles/variables.scss";

.container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ffffff;
    width: 360px;
    min-width: 160px;
    flex-shrink: 0;
    @include borderRadius("5px");
    @include boxShadow("0 2px 10px rgba(0,0,0,0.2)");
    @include transition();

    @media only screen and (max-width: 767px) {
        width: 310px;
    }

    &.topbar-mail {
        @media only screen and (max-width: 519px) {
            right: -170px;
        }
    }

    &.topbar-message {
        @media only screen and (max-width: 500px) {
            right: -69px;
        }
    }

    &.topbar-notification {
        @media only screen and (max-width: 500px) {
            right: -120px;
        }
    }

    &.topbar-add-to-cart {
        @media only screen and (max-width: 465px) {
            right: -55px;
        }
        .header {
            margin-bottom: 0;
        }
        .body {
            background-color: $paletteGrayscale6;
            display: flex;
            flex-direction: column;

            .no-item-msg {
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                span {
                    font-size: 30px;
                    font-weight: 300;
                    color: $paletteGrayscale1;
                    line-height: 1.2;
                }
            }
        }
    }
    &.user {
        padding: 7px 0;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        right: 0;
        background-color: #ffffff;
        width: 220px;
        min-width: 160px;
        flex-shrink: 0;
        // .isoBorderRadius(5px);
        @include borderRadius("5px");
        @include boxShadow("0 2px 10px rgba(0,0,0,0.2)");
        @include transition();
        .link {
            font-size: 13px;
            color: $paletteText1;
            line-height: 1.1;
            padding: 7px 15px;
            background-color: transparent;
            text-decoration: none;
            display: flex;
            justify-content: flex-start;
            @include transition();
            &:hover {
                background-color: $paletteSecondary6;
            }
        }
    }
}
.img-wrapper {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: $paletteGrayscale9;
    @include borderRadius("50%");
    img {
        height: 100%;
        object-fit: cover;
    }
    .user-activity {
        width: 10px;
        height: 10px;
        display: block;
        background-color: $paletteColor3;
        position: absolute;
        bottom: 0;
        right: 3px;
        border: 1px solid #ffffff;
        @include borderRadius("50%");
    }
}
.header {
    border-bottom: 1px solid #f1f1f1;
    margin-bottom: 0px;
    padding: 15px 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    h3 {
        font-size: 14px;
        font-weight: 500;
        color: $paletteText0;
        text-align: center;
        text-transform: uppercase;
        margin: 0;
    }
}

.body {
    width: 100%;
    height: 300px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    background-color: $paletteGrayscale6;
    .list-item {
        padding: 15px 30px;
        flex-shrink: 0;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        text-decoration: none;
        width: 100%;
        @include transition();

        &:hover {
            background-color: $paletteGrayscale3;
        }

        .list-head {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 5px;
        }
        h5 {
            font-size: 13px;
            font-weight: 500;
            color: $paletteText0;
            margin-top: 0;
        }
        p {
            font-size: 12px;
            font-weight: 400;
            color: $paletteText2;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        .date {
            font-size: 11px;
            color: $paletteGrayscale1;
            flex-shrink: 0;
        }
    }
}
.view-all {
    font-size: 13px;
    font-weight: 500;
    color: $paletteText2;
    padding: 10px 15px 20px;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    @include transition();

    &:hover {
        color: $palettePrimary0;
    }
}

.footer-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px 20px;

    a {
        font-size: 13px;
        font-weight: 500;
        color: $paletteText0;
        text-decoration: none;
        padding: 10px 20px;
        line-height: 1;
        border: 1px solid $paletteBorder1;
        display: flex;
        align-items: center;
        justify-content: center;
        @include transition();
        &:hover {
            background-color: $palettePrimary0;
            border-color: $palettePrimary0;
            color: #ffffff;
        }
    }
    h3 {
        font-size: 14px;
        font-weight: 500;
        color: $paletteText0;
        line-height: 1.3;
    }


    &.with-img {
        .list-item {
            display: flex;
            flex-direction: row;
            .img-wrapper {
                width: 35px;
                height: 35px;
                overflow: hidden;
                margin-right: 15px;
                display: -webkit-inline-flex;
                display: -ms-inline-flex;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                flex-shrink: 0;
                background-color: $paletteGrayscale9;
                @include borderRadius("50%");
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .list-content {
                width: 100%;
                display: flex;
                flex-direction: column;
                .list-head {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 10px;
                }
                h5 {
                    margin-bottom: 0;
                    padding-right: 15px;
                }
                .date {
                    font-size: 11px;
                    color: $paletteGrayscale1;
                    flex-shrink: 0;
                }
                p {
                    white-space: normal;
                    line-height: 1.5;
                }
            }
        }
    }
}