@import "~styles/variables.scss";

.container {
    .topbar {
        display: flex;
        justify-content: flex-end;
        background-color: $paletteGrayscale11;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: 0 1px 5px 0 rgba(41,85,115,.21);
        padding: 0 31px 0 265px;
        z-index: 1000;
        @include transition();
    
        @media only screen and (max-width: 767px) {
             padding: 0px 15px 0px 260px !important;
        }
    
        &.collapsed {
            padding: 0 31px 0 109px;
            @media only screen and (max-width: 767px) {
                padding: 0px 15px !important;
            }
        }
    }
    .left {
        display: flex;
        align-items: center;
        @media only screen and (max-width: 767px) {
            margin: 0 20px 0 0;
        }
    }
    .right {
        display: flex;
        align-items: flex-end;
  
        li {
            margin-left: 0;
            margin-right: 35px;
            cursor: pointer;
            line-height: normal;
            position: relative;
            display: inline-block;
            @media only screen and (max-width: 360px) {
                margin-left: 0;
                margin-right: 25px;
            }
            &:last-child {
                margin: 0;
            }
            i {
                font-size: 24px;
                color: $paletteText0;
                line-height: 1;
            }
  
            .icon-wrapper {
                position: relative;
                line-height: normal;
                span {
                    font-size: 12px;
                    color: #fff;
                    background-color: $paletteSecondary1;
                    width: 20px;
                    height: 20px;
                    display: -webkit-inline-flex;
                    display: -ms-inline-flex;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    line-height: 20px;
                    position: absolute;
                    top: -8px;
                    left: 10px;
                    right: inherit;
                    @include borderRadius("50%");
                }
            }
            &.mail {
                .icon-wrapper {
                    span {
                        background-color: $paletteColor0;
                    }
                }
            }
            &.notify {
                .icon-wrapper {
                    span {
                        background-color: $palettePrimary2;
                    }
                }
            }
            &.msg {
                .icon-wrapper {
                    span {
                        background-color: $paletteColor1;
                    }
                }
            }
            &.cart {
                .icon-wrapper {
                    span {
                        background-color: $paletteColor2;
                    }
                }
            }
            &.user {
                .img-wrapper {
                    width: 40px;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    background-color: $paletteGrayscale9;
                    @include borderRadius("50%");
                    img {
                        height: 100%;
                        object-fit: cover;
                    }
                    .user-activity {
                        width: 10px;
                        height: 10px;
                        display: block;
                        background-color: $paletteColor3;
                        position: absolute;
                        bottom: 0;
                        right: 3px;
                        border: 1px solid #ffffff;
                        @include borderRadius("50%");
                    }
                }
            }
        }
    }
}
